
/* ======================== Header ======================== */

header {
    padding: 30px;
    background-color: var(--neutra-withe);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--neutra-black);
}

.navbar-logo img {
    width: 80px;
    height: 80px;
}

.navbar-btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-btns > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gray);
}

.navbar-btns img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbar-btns button {
    padding: 8px;
    border: 2px solid transparent;
}

.navbar-btns > button:hover {
    cursor: pointer;
    border: 2px solid var(--primaria-laranja);
    border-radius: 12px;
    background-color: var( --secondary);
    color: var(--primaria-laranja);
}


/*  ============================ Main-1  ========================= */

.main-1 {
    padding: 60px 40px;
    background-color: var(--primaria-laranja);
}

.corpo-main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.corpo-main1 h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Inter", sans-serif;
    color: var(--neutra-white);
}

.corpo-main1 p {
    font-size: 24px;
    font-size: 400;
    width: 1200px;
    color: var(--neutra-white);
    padding-top: 34px;
}

.main-1-btns {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 32px;
    gap: 32px;
}

.main-1-btns > button{
    border: 2px solid transparent;
}

.main-1-btns > button:hover {
    cursor: pointer;
    border: 2px solid var(--neutra-black);
}

.main-1-btns img {
    width: 30px;
    height: 30px;
}

.btn1-main-1 {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaria-laranja);
    padding: 16px;
    border-radius: 10px;
    background-color: var(--neutra-white);
}

.btn1-main-1 > img{
    margin-left: 16px;
}

.btn2-main-1 {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--neutra-white);
    padding: 16px;
    border-radius: 10px;
    background-color: var(--primaria-bordor);
}

.btn2-main-1 img {
    margin-right: 16px;
}

/* ========================== main-2 ========================= */


.main-2 {
    padding: 100px 40px;
    background-color: var(--neutra-white);
}

.main-2-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 22px;
    background-color: var(--light-gray);
    border-radius: 40px;
    border: 1px solid var(--neutra-black);
}

.card-2 h2 {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: var(--neutra-black);
}

.card-2 img {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: rgb(from var(--primaria-laranja) r g b / 0.2);
    border-radius: 10px;
}

.title-card {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.div-h2-img {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.card-p-low {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--primaria-laranja);
}

/* =========================== main grafico ======================== */

.main-grafico {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--neutra-withe); 
    min-height: calc(100vh - 180px); 
}


.chart-container {
    background-color: var(--light-gray); 
    border: 1px solid var(--neutra-black);
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.chart-container h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--neutra-black); 
    margin-bottom: 24px;
}


.chart-wrapper {
    position: relative;
    height: 350px; 
    margin-left: 40px; 
}

.chart-grid-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-line {
    position: relative;
    width: 100%;
    border-bottom: 1px dashed var(--neutra-black); 
}

.grid-line span {
    position: absolute;
    left: -40px;
    bottom: -8px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--neutra-black);
    text-align: right;
}

.grid-line:last-child {
    border-bottom: 2px solid var(--neutra-black); 
}

.chart-bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
    z-index: 2; 
}

.bar-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 280px; 
    position: relative;
}

.bar-fill {
    background-color: var(--primaria-laranja);
    width: 100%; 
    height: calc((var(--val) / 70) * 100%); 
    border-radius: 8px 8px 0 0; 
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.bar-fill:hover {
    transform: scaleX(1.02);
    background-color: var(--secondary);
    cursor: pointer;
}

.bar-label {
    position: absolute;
    bottom: -30px; 
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--neutra-black); 
}






/*  ============================= main-3 ====================================== */

.main-3 {
    padding: 120px 40px;
    background-color: var(--neutra-white);
}

.main-3-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-3 {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    background-color: var(--light-gray);
    border: 1px solid var(--neutra-black);
    border-radius: 20px;
}

.card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.card-header img {
    width: 100px;
    height: 100px;
}

.card-header p {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:  var(--neutra-black);
}

.card-header h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gray);
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.party h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    border-radius: 10px;
    color: var(--primaria-laranja);
    background-color: rgb(from var(--primaria-laranja) r g b / 0.2);
}

.location {
    display: flex;
    gap: 14px;
}

.location h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.location img {
    width: 24px;
    height: 24px;
}

.card-metrics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.metric-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.metric-data h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--neutra-black);
}

.metric-data span {
     font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gray);
}

.metric img {
    width: 40px;
    height: 30px;
}

.cards-dow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*  =================== main-4 ======================== */

.main-4 {
    padding: 80px 40px;
    background-color: var(--neutra-white);
}

.card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: 2px solid var(--primaria-laranja);
    border-radius: 20px;
    background-color: rgb(from var(--primaria-laranja) r g b / 0.3);
    gap: 60px;
}

.card-4 h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--neutra-black);
} 

.card-4 p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-black);
}

.card-4 button {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--neutra-white);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primaria-laranja);
}

.card-4 > button{
    border: 2px solid transparent;
}

.card-4 button:hover{
    cursor: pointer;
    border: 2px solid var(--neutra-black);
}

.card-4 img {
    width: 34px;
    height: 34px;
    margin-left: 20px;
}

/*  ======================== footer ========================= */

 footer {
    background-color: var(--white);
    padding: 60px 80px;
    text-align: center;
    border-top: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
 }

.main-5 {
    background-color: var(--neutra-white);
    padding: 60px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    font-size: 14px;
    color: #555555;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.image-email {
    width: 160px;

}

.links {
    font-size: 14px;
    color: #555555;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.image-privacy-policy {
    width: 160px;

}

.image-declaration-acessibility {
    width: 160px;

}

.copyright-text {
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    margin-top: 40px;
    padding-top: 20px;
}