:root {
    --primaria-laranja: #FF5E00;
    --primaria-bordor: #9F2D00;

    --neutra-gree: #6D5A65;
    --light-gray: #F2F2F2;
    --neutra-withe: #ffffff;
    --neutra-black: #000000;
}

/* ======================== Header ======================== */

header {
    padding: 20px 60px;
    background-color: var(--neutra-withe);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 75px;
    height: 99px;
}

.logo h2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar-links a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.navbar-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.selecionado {
    padding: 20px;
    background-color: rgb(from var(--primaria-laranja) r g b / 0.3);
    border: 2px solid var(--primaria-laranja);
    border-radius: 20px;
    color: var(--primaria-laranja);
}

.not-select {
    color: var(--neutra-gree);
}


/*  ============================ Main-1  ========================= */

.main-1 {
    padding: 60px 40px;
    background-color: var(--primaria-laranja);
}

.corpo-main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.corpo-main1 h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Inter", sans-serif;
    color: var(--neutra-withe);
}

.corpo-main1 p {
    font-size: 24px;
    font-size: 400;
    width: 1200px;
    color: var(--neutra-withe);
    padding-top: 34px;
}

.main-1-btns {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 32px;
    gap: 32px;
}

.main-1-btns img {
    width: 30px;
    height: 30px;
}

.btn1-main-1 {
    padding: 20px;
    border: 1px solid var(--neutra-black);
    border-radius: 10px;
    background-color: var(--neutra-withe);
}

.btn1-main-1 a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaria-laranja);
}

.btn1-main-1 img {
    margin-left: 20px;
}

.btn2-main-1 {
    padding: 20px;
    border: 1px solid var(--neutra-black);
    border-radius: 10px;
    background-color: var(--primaria-bordor);
}

.btn2-main-1 img {
    margin-right: 20px;
}

.btn2-main-1 a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--neutra-withe);
}

/* ========================== main-2 ========================= */


.main-2 {
    padding: 100px 40px;
    background-color: var(--neutra-withe);
}

.main-2-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 22px;
    background-color: var(--light-gray);
    border-radius: 40px;
    border: 1px solid var(--neutra-black);
}

.card-2 h2 {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.card-2 img {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: rgb(from var(--primaria-laranja) r g b / 0.2);
    border-radius: 10px;
}

.title-card {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.div-h2-img {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.card-p-low {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--primaria-laranja);
}

/* =========================== main grafico ======================== */

.grafico {
    padding: 120px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutra-withe);
}

.grafico img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

/*  ============================= main-3 ====================================== */

.main-3 {
    padding: 120px 40px;
    background-color: var(--neutra-withe);
}

.main-3-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-3 {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    background-color: var(--light-gray);
    border: 1px solid var(--neutra-black);
    border-radius: 20px;
}

.card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.card-header img {
    width: 100px;
    height: 100px;
}

.card-header p {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:  var(--neutra-black);
}

.card-header h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.party h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    border-radius: 10px;
    color: var(--primaria-laranja);
    background-color: rgb(from var(--primaria-laranja) r g b / 0.2);
}

.location {
    display: flex;
    gap: 14px;
}

.location h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.location img {
    width: 24px;
    height: 24px;
}

.card-metrics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.metric-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.metric-data h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--neutra-black);
}

.metric-data span {
     font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-gree);
}

.metric img {
    width: 40px;
    height: 30px;
}

.cards-dow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*  =================== main-4 ======================== */

.main-4 {
    padding: 80px 40px;
    background-color: var(--neutra-withe);
}

.card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: 2px solid var(--primaria-laranja);
    border-radius: 20px;
    background-color: rgb(from var(--primaria-laranja) r g b / 0.3);
    gap: 60px;
}

.card-4 h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--neutra-black);
} 

.card-4 p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-black);
}

.card-4 a {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--neutra-withe);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primaria-laranja);
}

.card-4 img {
    width: 34px;
    height: 34px;
    margin-left: 20px;
}

.footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--neutra-black);
}
